{% extends "header.html" %}
{% load static %}


{% block content %}

    <!-- Start Top Search -->
    <!-- End Top Search -->

    <!-- Start Slider -->

    <!-- End Slider -->

    <!-- Start Categories  -->
    <!-- End Categories -->

    <!-- Start Products  -->
    <div class="products-box">
        <div class="container">
    
            <div class="row special-list">

                {% for single_product in all_products %}

                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Sale</p>
                            </div>
                            <img src="{{single_product.pic.url}}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="{% static '#' %}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="{% static '#' %}" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                    <li><a href="{% static '#' %}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="{% url 'add_to_cart' single_product.id %}">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>{{single_product.pname}}</h4>
                            <h5> ${{single_product.price}}</h5>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </div>
    <!-- End Products  -->

    <!-- Start Blog  -->
    <!-- End Blog  -->


    <!-- Start Instagram Feed  -->
    <!-- End Instagram Feed  -->

    {% endblock %}