{% extends "header.html" %}
{% load static %}


{% block content %}

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Cart</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% static '#' %}">Shop</a></li>
                        <li class="breadcrumb-item active">Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Images</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for single_product in cart_data %}
                                <tr>
                                    <td class="thumbnail-img">
									<img class="img-fluid" src="{{single_product.productid.pic.url}}" alt="" />
								</a>
                                    </td>
                                    <td class="name-pr">
                                        <a>
                                            {{single_product.productid.pname}}
								</a>
                                    </td>
                                    <td class="price-pr">
                                        <p>$ {{single_product.productid.price}}</p>
                                    </td>
                                    <td class="quantity-box"><input type="number" id="qunt" size="4" value="1" min="0" step="1" class="c-input-text qty text"></td>
                                    <td class="total-pr">
                                        <p>$ {{single_product.productid.price}}</p>
                                    </td>
                                    <td class="remove-pr">
                                        <a href="{% url 'remove_cart' single_product.id %}">
									<i class="fas fa-times"></i>
								</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-lg-6 col-sm-6">
                    <div class="coupon-box">
                        <div class="input-group input-group-sm">
                            <div class="input-group-append">
                             <div class="col-12 d-flex shopping-box"><a href="{% url 'arrival' %}" class="ml-auto btn hvr-hover">Update Cart</a> </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="col-12 d-flex shopping-box"><a href="{% url 'checkout' %}" class="ml-auto btn hvr-hover">Checkout</a> </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Cart -->

    <!-- Start Instagram Feed  -->
    <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-01.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="{% static '#' %}"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-02.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="{% static '#' %}"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-03.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="{% static '#' %}"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-04.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="{% static '#' %}"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-05.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="{% static '#' %}"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-06.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="{% static '#' %}"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-07.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="{% static '#' %}"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-08.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="{% static '#' %}"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-09.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="{% static '#' %}"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-05.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="{% static '#' %}"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Instagram Feed  -->




    {% endblock %}

    <!-- <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
      var options = {
         
        // Enter the Key ID generated from the Dashboard
        key: "{{ razorpay_merchant_key }}",
         
        // Amount is in currency subunits.
        // Default currency is INR. Hence,
        // 50000 refers to 50000 paise
        amount: "{{ razorpay_amount }}",
        currency: "{{ currency }}",
         
        // Your/store name.
        name: "ThewayShop",
         
        // Pass the `id` obtained in the response of Step 1
        order_id: "{{ razorpay_order_id }}",
        callback_url: "{{ callback_url }}",
      };
       
      // initialise razorpay with the options.
      var rzp1 = new Razorpay(options);
       
      // add event listener to the payment button.
      document.getElementById("pay-btn").onclick = function (e) {
        rzp1.open();
        e.preventDefault();
      };
    </script> -->