{% extends "header.html" %}
{% load static %}


{% block content %}
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="checkout-address">
                        <div class="title-left">
                            <h3>Profile</h3>
                        </div>
                        <p>{{msg}}</p>
                        <form class="needs-validation"  action="{% url 'profile_buyer' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <img src="{{session_user.pic.url}}" class="img-fluid" alt="Image">
                            </div>
                            <div class="mb-3">
                                <label for="myfile">Edit Profile Image:</label>
                                <input type="file" id="myfile" name="pic" >
                            </div>
                            <div class="mb-3">
                                <label for="username">Full Name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="fname"  value="{{session_user.fullname}}" placeholder="Enter Your Name">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email">Email Address</label>
                                <input type="email" class="form-control" name="email" id="email" value="{{session_user.email}}" placeholder="Enter Email" disabled>
                            </div>
                            <div class="mb-3">
                                <label for="address">Password</label>
                                <input type="text" class="form-control" name="password" value="{{session_user.password}}" id="address" placeholder="Enter password">
                                <div class="invalid-feedback"> Please enter your Password</div>
                            </div>
                            <div class="mb-3">
                                <label for="address">Confirm Password</label>
                                <input type="text" class="form-control" name="cpassword" id="address" placeholder="Enter password" >
                                <div class="invalid-feedback"> Please Confirm your Password</div>
                            </div>
                            <center>
                                <button class="btn hvr-hover" type="submit">Update</button>
                            </center>
                     </form>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
    <!-- End Top Search -->
    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center">
                <img src="{% static 'images/banner-01.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> Freshshop</strong></h1>
                            <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                            <p><a class="btn hvr-hover" href="{% static '#' %}">Shop New</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'images/banner-02.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> Freshshop</strong></h1>
                            <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                            <p><a class="btn hvr-hover" href="{% static '#' %}">Shop New</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'images/banner-03.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> Freshshop</strong></h1>
                            <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                            <p><a class="btn hvr-hover" href="{% static '#' %}">Shop New</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="{% static '#' %}" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="{% static '#' %}" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- End Slider -->

    {% endblock %}


    <!-- Start Footer  -->
   